# OpenAI text embeddings: Your OpenAI-Key
OPENAI_API_KEY=<your openai key>

# Redis-URL to connect to:
SEMSE_REDIS_URL=redis://127.0.0.1:6379

# Redis key prefix for your documents:
SEMSE_DOCUMENT_PREFIX=documents

# Name of the index in Redis:
SEMSE_DOCUMENT_INDEX=idx:documents

# Backend port:
SEMSE_PORT=80

# Backend hostname to bind to:
SEMSE_HOSTNAME=127.0.0.1
